#ygma{
    position:relative;
    z-index:1000;
    zoom:1;
}
#ygma #ygma-search{
    width:480px;
}
#ygma #ygma-search input{
    width:250px;
}
#ygma li{
    font-size:100%;
}
#ygma em{
    font-size:1em;
    font-weight:bold !important;
}
#ygma p{
    font-size:100%;
}
#ygma span{
    overflow:visible !important;
}
#pa2-nav li a{
    word-wrap:normal;
}
#y-ks-banner, #y-ks-mini-banner{
    z-index:139 !important;
}
#ygma .sp{
    background-image:url(http://l.yimg.com/a/lib/uh/15/sprites/answers-1.0.4.png);
}